<!DOCTYPE html>
{% extends 'first_app/profile.html' %}
{% load staticfiles %}
{% block body_block %}
<link href="https://fonts.googleapis.com/css?family=Bitter|Roboto+Slab" rel="stylesheet">
    <h2 style="font-family:'Roboto Slab', serif;color:#F5B041;text-shadow: 0.3px 0.3px #999;">Overseas Buyer Recommender Analysis: Suppliers' Relation Network</h2>
    <img src='{% static 'images/圖片1.png' %}' alt='supplier_relation' width="691.5" height="366.5"><br>
    <h2 style="font-family:'Roboto Slab', serif;color:#F5B041;text-shadow: 0.3px 0.3px #999;">Overseas Buyer Recommender Analysis: Buyers' Relation Network 1</h2>
    <img src='{% static 'images/圖片2.png' %}' alt='buyer_relation' width="379" height="410"><br>
    <h2 style="font-family:'Roboto Slab', serif;color:#F5B041;text-shadow: 0.3px 0.3px #999;">Overseas Buyer Recommender Analysis: Buyers' Relation Network 2</h2>
    <img src='{% static 'images/圖片5.png' %}' alt='buyer_relation' width="608.5" height="375" style="PADDING-BOTTOM:15px"><br>
{% endblock %}
