<!DOCTYPE html>
{% extends 'first_app/profile.html' %}
{% load staticfiles %}
{% block body_block %}
    <h2>Overseas Buyer Recommender Analysis: Suppliers' Relation Network</h2>
    <img src='{% static 'images/圖片1.png' %}' alt='supplier_relation' width="691.5" height="366.5"><br>
    <h2>Overseas Buyer Recommender Analysis: Buyers' Relation Network 1</h2>
    <img src='{% static 'images/圖片2.png' %}' alt='buyer_relation' width="379" height="410"><br>
    <h2>Overseas Buyer Recommender Analysis: Buyers' Relation Network 2</h2>
    <img src='{% static 'images/圖片5.png' %}' alt='buyer_relation' width="608.5" height="375" style="PADDING-BOTTOM:15px"><br>
{% endblock %}
