<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Bitter|Libre+Baskerville" rel="stylesheet">
{% extends 'first_app/profile.html' %}
{% load staticfiles %}
{% block body_block %}
<link rel="stylesheet" href="{% static "css/index.css" %}"/>
<h1 class="text-center" style="font-size:51px;font-family:'Bitter', serif;color:#3498DB;text-shadow: 1px 1px #F5B041;">Hello! Welcome to Shifty's Home Page</h1>

  <img style='width:100%;height:100%;margin-top:15px;margin-bottom:15px;'src='{% static 'images/data.png' %}' alt='That is really somehing!!' ><br>
  <p class="text-center" style='margin-top:10px;'><a style='margin-top:10px;margin-bottom:15px;border-color:#F5B041 ; background-color: #F5B041;font-size:20px;box-shadow: 2px 2px 5px 0 #999;'class="btn btn-primary btn-lg" href="{% url 'PF' %}" role="button">Learn More About Me</a></p>

{% endblock %}
