<!DOCTYPE html>
{% extends 'first_app/profile.html' %}
{% load staticfiles %}
{% block body_block %}
<link href="https://fonts.googleapis.com/css?family=Bitter|Roboto+Slab" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/login.css" %}"/>
<div class="container">
  <div class="jumbotron" style="text-shadow: 0px -1.6px 1px #2C3E50;color:#298089;font-family:'Roboto Slab', serif;background-color:white !important;border-style: solid;border-width: 0.5px 0.5px 0.5px 5px;border-color: #298089;padding-left:8%;margin-left:8%;margin-right:8%;margin-bottom:5%;">
    <h1 style='padding-bottom:40px;'>Please Login</h1>

      <form method="post" action="{% url 'first_app:user_login' %}" style='font-size:25px;'>
        {% csrf_token %}
        {# A more "HTML" way of creating the login form#}
        <label for="username" style='color:#F5B041;text-shadow: 0px -0.2px 0.3px #2C3E50;'>Username:&nbsp;&nbsp;</label>
        <input type="text" name="username" required><br><br><br>

        <label for="password" style='color:#F5B041;text-shadow: 0px -0.2px 0.3px #2C3E50;'>Password:&nbsp;&nbsp;&nbsp;</label>
        <input type="password" name="password" required>

        <input type="submit" name="" value="Login" id='sub' style='height:45px;margin-left:10px; width:100px; border-radius:5px;border-color:#F5B041 ; background-color: #F5B041;border-width:0;box-shadow: 2px 2px 5px 0 #999;color:white;text-shadow: 1px 1px #999;'>

      </form>

  </div>
</div>

{% endblock %}
