<!DOCTYPE html>
{% extends 'first_app/profile.html' %}
{% load staticfiles %}
{% block body_block %}
<link href="https://fonts.googleapis.com/css?family=Bitter|Roboto+Slab" rel="stylesheet">
<h2 style="font-family:'Roboto Slab', serif;color:#F5B041;text-shadow: 0.3px 0.3px #999;padding-bottom:15px;">KNN-Cosine Application: User-Based Movies Recommender</h2>
<img src='{% static 'images/圖片3.png' %}' alt='supplier_relation' width="497.5" height="349.141201264489"><br>
<h2 style="font-family:'Roboto Slab', serif;color:#F5B041;text-shadow: 0.3px 0.3px #999;padding-bottom:15px;padding-top:15px;">KNN-Cosine Application: Item-Based Movies Recommender</h2>
<img src='{% static 'images/圖片4.png' %}' alt='buyer_relation' width="497.5" height="333" style="PADDING-BOTTOM:45px"><br>
{% endblock %}
