<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
<link href="https://fonts.googleapis.com/css?family=Bitter|Roboto+Condensed" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<!--
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/profile.css" %}"/>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body>
  <nav class="navbar navbar-inverse" style="background:#298089;border-color:#298089;">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand" href="{% url 'index' %}"style="color:#F1C40F;background-color: #298089;text-shadow: 0px -0.8px 1px #2C3E50;">
          <span class="glyphicon glyphicon-home"></span> Home Page</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="{% url "PF" %}"style="color:#F1C40F;background-color: #298089;text-shadow: 0px -0.8px 1px #2C3E50;"><span class="glyphicon glyphicon-user"></span> Profile </a></li>
          <li><a href="https://www.linkedin.com/in/fu-ti-hsu-179a70106/"style="color:#F1C40F;background-color: #298089;text-shadow: 0px -0.8px 1px #2C3E50;"><span class="glyphicon glyphicon-cloud"></span> Linkedin </a></li>
          <li><a href="{% url 'register' %}"style="color:#F1C40F;background-color: #298089;text-shadow: 0px -0.8px 1px #2C3E50;"><span class="glyphicon glyphicon-edit"></span> Register </a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"style="color:#F1C40F;background: #298089;text-shadow: 0px -0.8px 1px #2C3E50;"><span class="glyphicon glyphicon-signal"></span> Visualization <span class="caret"></span></a>
            <ul class="dropdown-menu"style="color:#F1C40F;background: #298089">
              <li><a href="{% url 'folium' %}"style="color:#F1C40F;">Folium Geomap1</a></li></br>
              <li><a href="{% url 'MS' %}"style="color:#F1C40F;">Folium Geomap2</a></li></br>
              <li><a href="{% url 'hyper' %}"style="color:#F1C40F;">Supply Chain</br>Analysis</a></li></br>
              <li><a href="{% url 'other' %}"style="color:#F1C40F;">Knn-Cosine</br>Recommender</a></li></br>
              <li><a href="{% url 'MAT' %}"style="color:#F1C40F;">Matplotlib Basic</br>Charts</a></li></br>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:#F1C40F;background: #298089;text-shadow: 0px -0.8px 1px #2C3E50;"><span class="glyphicon glyphicon-stats"></span> Model <span class="caret"></span></a>
            <ul class="dropdown-menu" style="color:#F1C40F;background: #298089;padding-bottom:0px;">
              <li><a href="{% url 'RS' %}"style="color:#F1C40F;">Movie Recommendation<br>System</a></li></br>
            </ul>
          </li>
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 bottom-control" type="submit" style='height:34px;'><span class="glyphicon glyphicon-search" style='padding-top:2px;'></span></button>
              </div>
            </form>
        </ul>
        {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right" style='padding-top:15px;'><a href="{% url 'logout' %}"style="color:#F1C40F;background-color: #298089;text-shadow: 0px -0.8px 1px #2C3E50;"><span class='glyphicon glyphicon-log-out'></span> Logout </a></ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right" style='padding-top:15px;'><a class="navbar-link" href="{% url 'first_app:user_login' %}"style="color:#F1C40F;background-color: #298089;text-shadow: 0px -0.8px 1px #2C3E50;"><span class='glyphicon glyphicon-log-in'></span> Login </a></ul>
        {% endif %}
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</body>
<!-- <div class="jumbotron">
  <h1 class="text-center">Hello, world!</h1>
  <p class="text-center">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div> -->

<div class="container">
  {% block body_block %}
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar" style='padding-bottom:50%;width:85%;position:relative;'>
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic " >
					<img src="{% static 'images/shifty.jpg' %}" class="img-responsive" alt="" style="width: auto;height: auto;">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						Fu-Ti, Hsu
					</div>
					<div class="profile-usertitle-job">
						Data Analyst
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" onclick="location.href='mailto:shifty049@gmail.com';" class="btn btn-success btn-lg">Email Me</button>
				</div>

				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active" style='text-align: center;'>
							<a href="{% url 'index' %}">
							<i class="glyphicon glyphicon-home" style='float:left;'></i>Home Page&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
						</li>
						<li style='text-align: center;'>
							<a href="https://www.linkedin.com/in/fu-ti-hsu-179a70106/">
							<i class="glyphicon glyphicon-link"style='float:left;'></i>Linkedin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
						</li>
						<!-- <li>
							<a href="http://127.0.0.1:8080/admin/login/?next=/admin/" target="_blank">
							<i class="glyphicon glyphicon-cog"></i>
							Admin </a>
						</li> -->
						<li style='text-align: center;'>
							<a href="https://drive.google.com/open?id=1-G15PWYYvlDlYIYdUETIl2ab4wxCloW6">
							<i class="glyphicon glyphicon-save"style='float:left;'></i>Download CV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>


		</div>
		<div class="col-md-9">
<!-- <div class="profile-content"> -->
  <div class="jumbotron" style="background-color:white !important;border-style: solid;border-width: 0.5px 0.5px 0.5px 5px;border-color: #298089;font-family: 'Roboto Condensed', sans-serif;line-height: 24px;">
      <h3 style="font-family:Microsoft JhengHei; color:#298089; line-height: 24px;"><b><span class="glyphicon glyphicon-briefcase" style='top:3px;'></span> EXPERIENCE:</b><h3></br>
      <div class='taitra' style='width:79.4px;height:100px;margin-bottom:6px;'><a href='#'><img src="{% static 'images/taitra.png' %}" style='width:100%;height:auto;'></a></div>
      <h4><b style="font-family:Microsoft JhengHei; line-height: 24px;">Taiwan External Trade Development Council</b><span style='display: inline-block; vertical-align: top;float: right;'>Taipei, Taiwan&nbsp;&nbsp;</span></h4></br>
      <h4 ><b style="font-family:Microsoft JhengHei; line-height: 24px;">Data Project Manager</b> <span style='display: inline-block; vertical-align: top;float: right;'>Mar 2018 - Current&nbsp;&nbsp;</span></h4></br>
      <ul style='font-size:18px;line-height: 24px;'>
        <li>Established Ensemble Learning(including K-Nearest Neighbor, Linear Regression, Support Vector Regression, Random Forest, Xgboost) for predicting growth rate
          of Taiwan’s export values to each overseas markets in 2019(Overseas Potential Markets Recommendation Project)</li></br>
        <li>Establishing overseas buyers recommender system via
          Association Rules of supply chain</li></br>
        <li>Data Collection/Cleaning/Integration/Visualization</li></br>
        <li>Provided customized data analysis services for Bureau of
           Foreign Trade, associations of industry and companies</li></br>
        <li>Establish Virtual Environment for R-Shiny Server and test Data Scraping Application in Ubuntu System</li></br>
      </ul>
      <div class='lfp' style='width:100px;height:100px;margin-bottom:6px;'><a href='#'><img src="{% static 'images/LFP.png' %}" style='width:100%;height:auto;'></a></div>
      <h4><b style="font-family:Microsoft JhengHei; line-height: 24px;">Laboratory of Fragrance and Perfume</b><span style='display: inline-block; vertical-align: top;float: right;'>Taipei, Taiwan&nbsp;&nbsp;</span></h4></br>
      <h4><b style="font-family:Microsoft JhengHei; line-height: 24px;">Data Analyst</b><span style='display: inline-block; vertical-align: top;float: right;'>Nov 2017 - Mar 2018&nbsp;&nbsp;</span><h4></br>
      <ul style='font-size:18px;line-height: 24px;'>
        <li>Established recommender system with association rules for promoting customer's experience of online perfume selection</li></br>
        <li>Established machine learning models for digging business insights and optimizing business models</li></br>
        <li>Data Cleaning/Visualization/Exploratory Data Analysis</li></br>
        <li>Developed PyCNC Control Function</li></br></ul>
      </ul>
  </div>
  <div class="jumbotron" style="background-color:white !important;border-style: solid;border-width: 0.5px 0.5px 0.5px 5px;border-color: #298089;font-family: 'Roboto Condensed', sans-serif;line-height: 24px;">
      <h3 style="font-family:Microsoft JhengHei;color:#298089;"><b><span class="glyphicon glyphicon-book" style='top:2px;'></span> EDUCATION:</b><h3></br>
      <div class='uconn' style='width:102px;height:87.5px;margin-bottom:7px;'><a href='#'><img src="{% static 'images/uconn_2.png' %}" style='width:100%;height:auto;'></a></div>
      <h4><b style="font-family:Microsoft JhengHei; line-height: 24px;">University of Connecticut, School of Business</b><span style='display: inline-block; vertical-align: top;float: right;'>Hartford, CT&nbsp;&nbsp;</span></h4></br>
      <h4 style="font-family:Microsoft JhengHei; line-height: 24px;"><b>Master of Business Analytics and Project Management</b><h4></br>
      <h4>GPA:3.764<span style='display: inline-block; vertical-align: top;float: right;'>Aug 2015 - May 2017&nbsp;&nbsp;</span><h4></br>
      <div class='ncku' style='width:100px;height:101.5px;margin-bottom:0;'><a href='#'><img src="{% static 'images/ncku.png' %}" style='width:100%;height:auto;'></a></div>
      <h4 style="line-height: 24px;"><b style='font-family:Microsoft JhengHei;'>National Cheng Kung University</b><span style='display: inline-block; vertical-align: top;float: right;'>Tainan, Taiwan&nbsp;&nbsp;</span></h4></br>
      <h4 ><b style="font-family:Microsoft JhengHei; line-height: 24px;">Master of Mechanical Engineering</b><span style='display: inline-block; vertical-align: top;float: right;'>Aug 2013 - Aug 2015&nbsp;&nbsp;</span><h4></br>
      <h4 ><b style="font-family:Microsoft JhengHei; line-height: 24px;">Graduation Thesis:</b></h4></br>
        <ul style='font-size:18px'>
          <li>Investigation of Absorption Rate Enhancement by Controlled-disturbance on Aqueous LiBr Film Flowing over of a Flat Plate Absorber</li></br>
        </ul>
      <div class='nthu' style='width:100px;height:100px;margin-bottom:0;'><a href='#'><img src="{% static 'images/nthu.png' %}" style='width:100%;height:auto;'></a></div>
      <h4 ><b style="font-family:Microsoft JhengHei;">National Tsing Hua University</b><span style='display: inline-block; vertical-align: top;float: right;'>Hsinchu, Taiwan&nbsp;&nbsp;</span></h4></br>
      <h4 ><b style="font-family:Microsoft JhengHei;">Bachelor of Engineering and System Science</b><span style='display: inline-block; vertical-align: top;float: right; line-height: 24px;'>Sep 2006 - Jun 2011&nbsp;&nbsp;</span><h4></br>
  </div>

  <div class="jumbotron" style="background-color:white !important;border-style: solid;border-width: 0.5px 0.5px 0.5px 5px;border-color: #298089;font-family: 'Roboto Condensed', sans-serif;">
    <h3 style="font-family:Microsoft JhengHei;color:#298089;"><b><span class='glyphicon glyphicon-road'style='top:2px;'></span> Competition and Certification:</b></h3></br>
    <div class='KAGGLE' style='width:241px;height31.5px;margin-bottom:12px;'><a href='#'><img src="{% static 'images/IPAS_final.jpg' %}" style='width:100%;height:auto;'></a></div>
    <h4 ><b style="font-family:Microsoft JhengHei; line-height: 35px;">Industry Professional Assessment System - Junior Big Data Analyst Certificate</b></br><span style='display: inline-block; vertical-align: top;float: right;'>Jan 2019&nbsp;&nbsp;</span></h4></br></br>
    <div class='KAGGLE' style='width:489.0625px;height:79.375px;margin-bottom:12px;'><a href='#'><img src="{% static 'images/kaggle.png' %}" style='width:100%;height:auto;'></a></div>
    <h4 ><b style="font-family:Microsoft JhengHei; line-height: 35px;">Kaggle Competition - House Prices: Advanced Regression Techniques</b></br><span style='display: inline-block; vertical-align: top;float: right;'>Best Rank: 33% 1320/4054&nbsp;&nbsp;</span></h4></br></br>
    <div class='SAS' style='width:166.76px;height:35.25px;margin-bottom:12px;'><a href='#'><img src="{% static 'images/SAS.jpg' %}" style='width:100%;height:auto;'></a></div>
    <h4 ><b style="font-family:Microsoft JhengHei;">SAS Base Programmer for SAS 9</b><span style='display: inline-block; vertical-align: top;float: right;'>Dec 2016&nbsp;&nbsp;</span></h4></br>
  </div>
  <div class="jumbotron" style="background-color:white !important;border-style: solid;border-width: 0.5px 0.5px 0.5px 5px;border-color: #298089;line-height: 24px;font-family: 'Roboto Condensed', sans-serif;">
    <h3 style="font-family:Microsoft JhengHei;color:#298089;"><b><span class='glyphicon glyphicon-align-left'style='top:2px;'></span> Skills:</b></h3>
    </br>
    <ul class="list-group" style='font-size:24px;font-family:Microsoft JhengHei;text-shadow: 0.5px 0.5px #999;font-weight:bold;'>
      <a class="list-group-item inactive-link" href="#">
        <div class="progress">
          <div data-placement="top" style="width: 75%;"aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" role="progressbar" class="progress-bar progress-bar-striped progress-bar-success">
            <span class="sr-only">75%</span>
            <span class="progress-type pull-left">&nbsp;&nbsp;Python-Pandas, Numpy&nbsp;&nbsp;&nbsp;&nbsp;75%</span>
          </div>
        </div>
        <div class="progress">
          <div data-placement="top" style="width: 70%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-striped progress-bar-success">
            <span class="sr-only">70%</span>
            <span class="progress-type pull-left">&nbsp;&nbsp;Python-Scikit Learn&nbsp;&nbsp;&nbsp;&nbsp;70%</span>
          </div>
        </div>
        <div class="progress">
          <div data-placement="top" style="width: 65%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-striped progress-bar-success">
            <span class="sr-only">65%</span>
            <span class="progress-type pull-left">&nbsp;&nbsp;Python-Matplotlib, Folium, PyPDF&nbsp;&nbsp;&nbsp;&nbsp;65%</span>
          </div>
        </div>
        <div class="progress">
          <div data-placement="top" style="width: 50%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-striped progress-bar-warning">
            <span class="sr-only">50%</span>
            <span class="progress-type pull-left">&nbsp;&nbsp;MySQL&nbsp;&nbsp;&nbsp;&nbsp;50%</span>
          </div>
        </div>
        <div class="progress">
          <div data-placement="top" style="width: 45%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-striped progress-bar-warning">
            <span class="sr-only">43%</span>
            <span class="progress-type pull-left">&nbsp;&nbsp;Excel&nbsp;&nbsp;&nbsp;&nbsp;45%</span>
          </div>
        </div>
        <div class="progress">
          <div data-placement="top" style="width: 33%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-striped progress-bar-warning">
            <span class="sr-only">33%</span>
            <span class="progress-type pull-left">&nbsp;&nbsp;Django&nbsp;&nbsp;&nbsp;&nbsp;33%</span>
          </div>
        </div>
        <div class="progress">
          <div data-placement="top" style="width: 33%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-striped progress-bar-warning">
            <span class="sr-only">33%</span>
            <span class="progress-type pull-left">&nbsp;&nbsp;HTML/CSS/JavaScript&nbsp;&nbsp;33%</span>
          </div>
        </div>
        <div class="progress">
          <div data-placement="top" style="width: 30%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-striped progress-bar-warning">
            <span class="sr-only">30%</span>
            <span class="progress-type pull-left">&nbsp;&nbsp;Regular Expression&nbsp;&nbsp;30%</span>
          </div>
        </div>
        <div class="progress">
          <div data-placement="top" style="width: 28%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-striped progress-bar-danger">
            <span class="sr-only">28%</span>
            <span class="progress-type pull-left">&nbsp;&nbsp;Deep Learning&nbsp;&nbsp;&nbsp;28%</span>
          </div>
        </div>
        <div class="progress">
          <div data-placement="top" style="width: 26%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-striped progress-bar-danger">
            <span class="sr-only">26%</span>
            <span class="progress-type pull-left">&nbsp;&nbsp;Data Scraping&nbsp;&nbsp;&nbsp;&nbsp;26%</span>
          </div>
        </div>
        <div class="progress">
          <div data-placement="top" style="width: 24%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-striped progress-bar-danger">
            <span class="sr-only">24%</span>
            <span class="progress-type pull-left">&nbsp;&nbsp;NLP&nbsp;&nbsp;&nbsp;&nbsp;24%</span>
          </div>
        </div>
        <div class="progress">
          <div data-placement="top" style="width: 20%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-striped progress-bar-danger">
            <span class="sr-only">20%</span>
            <span class="progress-type pull-left">&nbsp;&nbsp;PySpark&nbsp;&nbsp;20%</span>
          </div>
        </div>
        <div class="progress">
          <div data-placement="top" style="width: 20%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-striped progress-bar-danger">
            <span class="sr-only">20%</span>
            <span class="progress-type pull-left">&nbsp;&nbsp;Linux&nbsp;&nbsp;20%</span>
          </div>
        </div>
        <div class="progress">
          <div data-placement="top" style="width: 19%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-striped progress-bar-danger">
            <span class="sr-only">19%</span>
            <span class="progress-type pull-left">&nbsp;&nbsp;R&nbsp;&nbsp;&nbsp;&nbsp;19%</span>
          </div>
        </div>
        <div class="progress">
          <div data-placement="top" style="width: 19%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-striped progress-bar-danger">
            <span class="sr-only">19%</span>
            <span class="progress-type pull-left">&nbsp;&nbsp;Tableau&nbsp;&nbsp;19%</span>
          </div>
        </div>



        <!-- <div class="progress-meter">
          <div style="width: 25%;" class="meter meter-left"><span class="meter-text">I suck</span></div>
          <div style="width: 25%;" class="meter meter-left"><span class="meter-text">I know little</span></div>
          <div style="width: 30%;" class="meter meter-right"><span class="meter-text">I'm a guru</span></div>
          <div style="width: 20%;" class="meter meter-right"><span class="meter-text">I''m good</span></div>
        </div> -->
      </a>
    </ul>
  </div>
  <div class="jumbotron" style="background-color:white !important;border-style: solid;border-width: 0.5px 0.5px 0.5px 5px;border-color: #298089;font-family: 'Roboto Condensed', sans-serif;">
    <h3 style="font-family:Microsoft JhengHei;color:#298089;"><b><span class='glyphicon glyphicon-list'style='top:2px;'></span> Self-Learning List of Online Courses:</b></h3></br>
    <h4 ><b style="font-family:Microsoft JhengHei; line-height: 35px;">SuperDataScience - Machine Learning A-Z™: Hands-On Python & R In Data Science (100% Completed)</b></br><span style='display: inline-block; vertical-align: top;float: right;'>Course Length: 41 hours</span></h4></br></br>
    <h4 ><b style="font-family:Microsoft JhengHei; line-height: 35px;">Avinash Jain - Introduction To Python Programming (100% Completed)</b></br><span style='display: inline-block; vertical-align: top;float: right;'>Course Length: 4.5 hours</span></h4></br></br>
    <h4 ><b style="font-family:Microsoft JhengHei; line-height: 35px;">Maximilian Schallwig - Web Scraping In Python: Master The Fundamentals (100% Completed)</b></br><span style='display: inline-block; vertical-align: top;float: right;'>Course Length: 4.5 hours</span></h4></br></br>
    <h4 ><b style="font-family:Microsoft JhengHei; line-height: 35px;">Data Camp - Introduction to Python (100% Completed)</b></br><span style='display: inline-block; vertical-align: top;float: right;'>Course Length: 4 hours</span></h4></br></br>
    <h4 ><b style="font-family:Microsoft JhengHei; line-height: 35px;">Data Camp - Python Data Science Toolbox Part1&Part2 (100% Completed)</b></br><span style='display: inline-block; vertical-align: top;float: right;'>Course Length: 7 hours</span></h4></br></br>
    <h4 ><b style="font-family:Microsoft JhengHei; line-height: 35px;">Data Camp - Intermediate Python for Data Science (100% Completed)</b></br><span style='display: inline-block; vertical-align: top;float: right;'>Course Length: 4 hours</span></h4></br></br>
    <h4 ><b style="font-family:Microsoft JhengHei; line-height: 35px;">Jose Portilla - Python and Django Full Stack Web Developer Bootcamp (85% Completed)</b></br><span style='display: inline-block; vertical-align: top;float: right;'>Course Length: 32 hours</span></h4></br></br>
    <h4 ><b style="font-family:Microsoft JhengHei; line-height: 35px;">SuperDataScience - Deep Learning A-Z™: Hands-On Artificial Neural Networks (80% Completed)</b></br><span style='display: inline-block; vertical-align: top;float: right;'>Course Length: 22.5 hours</span></h4></br></br>
    <h4 ><b style="font-family:Microsoft JhengHei; line-height: 35px;">Lazy Programmer Inc. - Data Science: Natural Language Processing (NLP) in Python (65% Completed)</b></br><span style='display: inline-block; vertical-align: top;float: right;'>Course Length: 8 hours</span></h4></br></br>
    <h4 ><b style="font-family:Microsoft JhengHei; line-height: 35px;">SuperDataScience - Deep Learning and NLP A-Z™: How to create a ChatBot (63% Completed)</b></br><span style='display: inline-block; vertical-align: top;float: right;'>Course Length: 11.5 hours</span></h4></br></br>
    <h4 ><b style="font-family:Microsoft JhengHei; line-height: 35px;">Jose Portilla - Spark and Python for Big Data with PySpark (60% Completed)</b></br><span style='display: inline-block; vertical-align: top;float: right;'>Course Length: 10.5 hours</span></h4></br></br>




  </div>

  <script>
    function confirmPurchase(){
    var answer = confirm('Are you sure you want to check this movie?');
    return answer;
    }
    function init(){
        var purchaseForm = document.getElementById('myform');
        purchaseForm.onsubmit = confirmPurchase;
      }
    init();
  </script>
  <script type="text/javascript">
  (function (d) {

  d.getElementById('myform').onsubmit = function () {
    confirm('Are you sure you want to check this movie?')
    d.getElementById('sub').style.display = 'none';
    d.getElementById('divLoading').style.display = 'block';
    d.getElementById('hideAll').style.display = 'block';
    d.getElementById('gf').style.weight='100%';
    d.getElementById('gf').style.height='100%';
  };
  }(document));
  </script>

  {% endblock %}
